<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  
  <!-- Robot name parameter -->
  <xacro:arg name="name" default="ur5e"/>
  
  <!-- Import main macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  <!-- UR type -->
  <xacro:arg name="ur_type" default="ur5e"/>
  
  <!-- Parameters -->
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="true"/>

  <!-- Create world link for Gazebo -->
  <link name="world"/>

  <!-- Instantiate the UR robot with absolute paths -->
  <xacro:ur_robot 
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Gazebo materials -->
  <gazebo reference="base_link_inertia">
    <material>Gazebo/Black</material>
  </gazebo>
  
  <gazebo reference="shoulder_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  
  <gazebo reference="upper_arm_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="forearm_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="wrist_1_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wrist_2_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wrist_3_link">
    <material>Gazebo/Black</material>
  </gazebo>

</robot>